@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Grandstander', cursive;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: url("bg03.jpg")  top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#logo{
    padding-left: 30px;
    padding-top: 15px;
}

#Title{
    text-align: right;
    font-weight: bold;
    font-size: 60px;
    padding-left: 60vw;
    color: #2a4d69;
}
.Top{
    display: block;
    height: 7-px;
    background-color: white;
    font-family: cursive;
    color: #2a4d69;
}

nav{
    background: #b6dced;
    height: 50px;
    width: 100vw;
    position: sticky;
    top: 0px;
}

nav ul, header ul{
    float: right;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0px 0px;
}

nav ul li a {
    color: #2a4d69;
    font-weight: bolder;
    font-size: 26px;
    padding: 13px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: white;
    font-size: 26px;
    font-style: bold;

}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-top: 70px;
}
.form{
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px; 
    display: flex;
    box-shadow: 0 0 10px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    padding-top: 30px;
}

.inputBox,  .message{
    width: 48% ; 
}

.inputBox .input, .message textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #adcbe3;
    padding: 10px;
    color: #b6dced;
    width: 100%;    
}

.message textarea{
    height:  212px;

}
.btn{
    background: #adcbe3;
    text-align: center;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}


/* video{
    vertical-align: -50%;
    transform-y
} */
/*footer*/
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    background: #b6dced;
    height: 175px;

}
#footerh3{
    color: #2a4d69;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 10px;
}
#footerh1{
    color: #2a4d69;
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 15px;
}
.footer_content{
    display: flex;
}
.left-box{
    padding-left: 30px;
    padding-top: 20px ;
}
.last-box{
    /* line-height: 100px; */
    padding-top: 40px;
}
.left-box, .middle-box, .last-box{
    flex-basis:50%;
    padding-right: 30px;
}
.middle-box .links{
    padding-left: 20px;
}
.links a:hover{
    color: #2a4d69;
    background-color:  #b6dced;
}
